html {
    background-color: rgb(240, 240, 240);
}
body, body.markdown-katex-preview {
    margin-top: 6%;
    margin-right: 13%;
    margin-bottom: 6%;
    margin-left: 13%;
    padding: 10%;
    color: rgb(66, 66, 66);
    border-top: solid 20px rgb(0, 223, 173);
    border-bottom: solid 20px rgb(0, 223, 173);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family: Merriweather;
    font-size: 140%;
    font-weight: lighter;
    line-height: 1.5;
}
h1, h2, h3 {
    padding-bottom: 4%;
    color: rgb(0, 187, 145);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: normal;
}
h1 {
    padding-bottom: 0%;
}
blockquote {
    margin-left: auto;
    padding-left: 30px;
    border-left: solid 4px rgb(0, 187, 145);
}
img {
    display: block;
    margin-top: 5%;
    margin-right: auto;
    margin-bottom: 5%;
    margin-left: auto;
}
